* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    line-height: 27px;   
}

.container {
    display: flex;  
}

.in, .ae, .nt {
    width: 295px;
    height: 100%;
    background: white;
    padding: 20px;
    border-top: 4px solid rgb(102, 102, 102, 0.4);
    color: #666;
    margin: 20px;
    font-size: 16px;   
}

.in:hover, .ae:hover, .nt:hover {
    border-top: 4px solid #0974b3;
    transform: translateY(-10px);
}

h1 {
    color: #0974b3;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

img {
    height: 210px;
    width: 165px;
    float: left;
    margin-right: 15px;
    margin-top:20px;
    object-fit: contain;
    padding-bottom: 30px;
    display: block;
    opacity: 1;
    transition: 0.5s ease;   
}

.nt img {
    width: 167px;
    height: 195px;
    padding-bottom: 20px;
}



.overlay {
    position: relative;
    
}
 
.zoom {
    position: absolute; 
    top: 0;  
    transition: .5s ease;
    opacity:0;    
}

.png {
    width: 50px;
    height: 50px;
    margin-top: 90px;
    margin-left: 60px;
}

.nt .png_nt {
    width: 50px;
    height: 50px;
    margin-top: 90px;
    margin-left: 60px;
}

.overlay:hover .zoom {
    opacity: 1;   
}

img:hover {
    filter: brightness(50%);
}
.cite {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    padding-right: 10px;   
}

.read a {
    color: white;
    text-decoration: none;
    border: 2px solid #0974b3;
    background:#0974b3 ;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

a:hover {
    border: 2px solid #0c4260;
    background:#0c4260 ;    
}